<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Feed</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2>Book Feed</h2>
    <div class="row">
      <!-- Book 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="book1.jpg" class="card-img-top" alt="Book 1 Image">
          <div class="card-body">
            <h5 class="card-title">Book 1 Title</h5>
            <p class="card-text">Author: Book 1 Author</p>
            <p class="card-text">Genre: Fiction</p>
          </div>
        </div>
      </div>
      <!-- Book 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="book2.jpg" class="card-img-top" alt="Book 2 Image">
          <div class="card-body">
            <h5 class="card-title">Book 2 Title</h5>
            <p class="card-text">Author: Book 2 Author</p>
            <p class="card-text">Genre: Non-Fiction</p>
          </div>
        </div>
      </div>
      <!-- Add more book cards as needed -->
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
