
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h4 style="margin-top: 30px;">R.LIBRARY FOR STAFF</h4>
          <h5 style="margin-top: 30px;">{{userData.email}} - {{userData.name}}</h5><hr>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">

        <a class="navbar-brand"><img src="../../assets/img/lms-png.png" style="height: 20%; width: 20%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item active"><a href="../lms-books" class="nav-link " >Books</a></li>
            <li class="nav-item active"><a href="../insert-books" class="nav-link " >Insert-Books</a></li>
            <li class="nav-item active"><a href="../update-books" class="nav-link " >Update-Books</a></li>
            <li class="nav-item active"><a href="../lms-users" class="nav-link " >LMS-Users</a></li>
            <li class="nav-item active"><a href="../register" class="nav-link " >Register-Users</a></li>
            <li class="nav-item"><a href="../about" class="nav-link" >About</a></li>
            <li class="nav-item"><a href="#" class="nav-link" >Profile</a></li>
            <li><button class="btn btn-danger btn-sm margin-right:10px "href="#" (click)="onLogout()">Logout</button></li>
          <li class="dropdown nav-item d-md-flex align-items-center">
   
      </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
  </div>
